# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.iml
*.ipr
*.iws
.idea/
pubspec.lock

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/engine
ios/Flutter/flutter_assets
ios/Flutter/ephemeral
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/key.properties
android/local.properties
android/.gradle/
android/app/build/
android/build/
macos/Flutter/ephemeral
linux/flutter/ephemeral
windows/flutter/ephemeral
lib/generated_plugin_registrant.dart
lib/**.g.dart
lib/**.freezed.dart
.dart_tool/
